    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ settings.meta.title }}</title>
    <meta name="title" content="{{ settings.meta.title }}">
    <meta name="description" content="{{ settings.meta.description }}">

    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type">
    <meta property="og:url" content="{{ settings.meta.siteUrl }}">
    <meta property="og:site_name" content="{{ settings.meta.siteName }}">
    <meta content="en_US" property="og:locale">
    <meta property="og:title" content="{{ settings.meta.title }}">
    <meta property="og:description" content="{{ settings.meta.description }}">
    <meta property="og:image" content="{{ settings.meta.imgSrc }}">
    <meta content="1280" property="og:image:width">
    <meta content="640" property="og:image:height">
    <meta property="og:image:alt" content="{{ settings.meta.imgAtl }}">

    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card">
    <meta property="twitter:url" content="{{ settings.meta.siteUrl }}">
    <meta property="twitter:title" content="{{ settings.meta.title }}">
    <meta property="twitter:description" content="{{ settings.meta.description }}">
    <meta property="twitter:image" content="{{ settings.meta.imgSrc }}">
    <meta property="twitter:image:alt" content="{{ settings.meta.imgAlt }}">